@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@700&display=swap');

body {
    font-family: 'Righteous', cursive;
    color:black;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(32,95,128,1) 0%, rgba(5,141,222,1) 100%); 
}
input[type="file"]{
    display: none;
}

label{
    color: black;
    background-color: blanchedalmond;
    padding: 5px;
    height: 20px;
    width: 120px;
}

label:hover{
    background-color: rgb(255, 196, 123);
}

.buttons_div{
}

.divdiv{
}

.submit{
    height: fit-content;
    width: fit-content;
    margin-top: 10px;
    font-family: 'Righteous', cursive;
    background-color: blanchedalmond;
}

.submit:hover{
    background-color: rgb(255, 196, 123);
}
